<div class="container col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h1 class="panel-title"></h1>
      <img src="" alt=""/>
      <div class="btn-group pull-right">
        <a href="#" class="btn btn-primary" style="display: inline-block; vertical-align: middle; margin-left: 10px;">Edit</a>
        <a href="#" class="btn btn-danger" style="display: inline-block; vertical-align: middle; margin-left: 5px;">Delete</a>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="list-group-item clearfix">
                <h4 class="list-group-item-text ml-2">Email: </h4>
                <h4 class="list-group-item-text ml-2">Phone: </h4>
            </div>
        </div>
    </div>
  </div>
</div>
